# Virtual environment
.venv/
venv/
env/

# JDBC jar (too large for GitHub)
*.jar

# CSV data (too large)
live_input/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Anaconda
*.conda